.animationContainer {
    position: absolute;
    top: -70px;
    right: 0;
    width: 80%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    opacity: 0.5;
}

@media (max-width: 1024px) {
    .animationContainer {
        width: 100%;
        opacity: 0.2;
    }
}